<a style="padding-bottom: 30px; display: block;" name="comments"></a>

<div class="vspace"></div>

<h1>Comments</h1>

<form action="#comments" method="post">
   <!--{if $error}-->
      <p class="error"><!--{$error}--></p>
      <!--{/if}-->

   <!--{if $posted}-->
   <p class="info"><!--{$posted}--></p>
   <!--{else}-->
   <div <!--{if $comment_id}-->style="display: none;"<!--{/if}-->>
   <table border="0">
      <tr>
         <td width="150">
            <label for="email">E-Mail or Name</label>
         </td>
         <td>
            <input type="text" name="email" id="email" size="30" value="<!--{if ! $comment_id}--><!--{$email}--><!--{/if}-->" />
         </td>
      </tr>
      <tr>
         <td>
            <label for="question">Please calculate: <!--{$calc}--></label>
         </td>
         <td>
            <input type="text" name="question" id="question" size="30" />
         </td>
      </tr>
      <tr>
         <td valign="top">
            <label for="comment">Comment</label><br />
            <br />
            <i>Use [code]...[/code] for a code block.</i>
         </td>
         <td>
            <textarea cols="50" rows="10" name="comment" id="comment"><!--{if ! $comment_id}--><!--{$comment}--><!--{/if}--></textarea>
         </td>
      </tr>
      <tr>
         <td>
            &nbsp;
         </td>
         <td>
            <input type="submit" value="Post" /> 
         </td>
      </tr>
   </table>
   </div>
   <!--{/if}-->
</form>


<div class="vspace"></div>

<!--{foreach $comments as $comment}-->
<div class="user_comment">
   <h1><!--{$comment.email|escape}--> - <!--{$comment.created}--> <a style="float: right;" href="javascript:$('#comment_for_<!--{$comment.id}-->').toggle()">Comment</a></h1>
   <div class="text">
      <!--{$comment.message|escape|parse_comment}-->
      <div id="comment_for_<!--{$comment.id}-->" class="comment_form" <!--{if $comment_id && $comment.id == $comment_id}-->style="display: block;"<!--{/if}-->>
         <form action="#comments" method="post">
            <input type="hidden" name="comment_id" value="<!--{$comment.id}-->" />
            <table border="0">
               <tr>
                  <td width="150">
                     <label for="email">E-Mail or Name</label>
                  </td>
                  <td>
                     <input type="text" name="email" id="email" size="30" value="<!--{if $comment.id == $comment_id}--><!--{$email}--><!--{/if}-->" />
                  </td>
               </tr>
               <tr>
                  <td>
                     <label for="question">Please calculate: <!--{$calc}--></label>
                  </td>
                  <td>
                     <input type="text" name="question" id="question" size="30" />
                  </td>
               </tr>
               <tr>
                  <td valign="top">
                     <label for="comment">Comment</label><br />
                     <br />
                     <i>Use [code]...[/code] for a code block.</i>
                  </td>
                  <td>
                     <textarea cols="50" rows="10" name="comment" id="comment"><!--{if $comment.id == $comment_id}--><!--{$comment_txt}--><!--{/if}--></textarea>
                  </td>
               </tr>
               <tr>
                  <td>
                     &nbsp;
                  </td>
                  <td>
                     <input type="submit" value="Post" /> 
                  </td>
               </tr>
            </table>
         </form>
      </div>

<!--{foreach $answers[$comment.id] as $answer}-->
      <div class="comment">
         <div class="comment_from">Comment from: <!--{$answer.email}--> - <!--{$answer.created}--></div>
         <div class="comment_content"><!--{$answer.comment|escape|parse_comment}--></div>
      </div>
<!--{/foreach}-->
   </div>
</div>
<div class="vspace"></div>
<!--{/foreach}-->

