   <script type="text/javascript" charset="utf-8" src="/js/jquery-1.5.2.min.js"></script>
   <script type="text/javascript" charset="utf-8" src="/js/highlight.js"></script>

   <script type="text/javascript" charset="utf-8">


      $(".perl").each(function(a,b) {

         HighlightCode(b);
            
      });

      if($.browser.msie) {
         $("#nav_img").css("float", "left");
      }
      if($.browser.opera) {
         $("#nav_img").css("float", "left");
      }


      $(".navlinks").show();

   </script>

